<table class="table table-striped lists">
		<thead>
			<a data-toggle="modal" data-target="#addBill" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new bill</a>
			<br>
			<tr>
				<th style="width: 70%;">Price</th>
				<th style="width: 25%;">Due Date</th>
				<th></th>
			</tr>
		</thead>
		<tr>
			<td>120 TL</td>
			<td>28 February</td>
			<td>
				<a ng-click="deleteList(data.id)" class="btn btn-danger btn-sm">
					<span class="fa fa-trash"></span> 
				</a>
			</td>
		</tr>
	</table>


	<div class="modal fade" tabindex="-1" id="addGrocery" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form ng-submit="addBill()">
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-9">
								<label for="item">Price</label>
								<input type="text" placeholder="Price" class="form-control" ng-model="item" required />
							</div>
							<div class="col-xs-3">
								<label for="quantity">Due Date</label>
								<input type="text" placeholder="Date" class="form-control" ng-model="date" required />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id="closemodal" class="btn btn-primary">Add item</button>
					</div>
				</form>
			</div>
		</div>
	</div>