<table class="table table-striped lists">
	<thead>
	<a data-toggle="modal" data-target="#addItem" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new item</a>
		<br>
		<tr>
			<th>#</th>
			<th style="width: 85%;">Item</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tr ng-repeat='item in data.items'>
		<td>{{ $index+1 }}</td>
		<td>{{item.item}}</td>
		<td>
			<a ng-click="deleteItem($index,item.id)" class="btn btn-danger btn-sm">
				<span class="fa fa-trash"></span> 
			</a>
		</td>
	</tr>
</table>


<div class="modal fade" tabindex="-1" id="addItem" role="dialog" >
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="addItem()">
				<div class="modal-body">
					<label for="item">Item</label>
					<input type="text" placeholder="Item" class="form-control" ng-model="item" required />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" id="closemodal" class="btn btn-primary">Add item</button>
				</div>
			</form>
		</div>
	</div>
</div>