<div class="row">

	<label for="name">List title</label>
	<input type="text" class="form-control" placeholder="List title">
	<br>
	<label for="field">List fields</label>
	<table class="table table-striped lists lists-new">
		<thead>
			<tr>
				<th>Field</th>
				<th>Type</th>
				<th style="width: 15%;">Action</th>
			</tr>
		</thead>
		<tbody id="table">
			<tr id="field">
				<td>
					<input type="text" id="input" class="form-control" placeholder="Field name (item,person,etc..)">
				</td>
				<td>
					<select class="form-control">
						<option value="integer">Integer</option>
						<option value="string">String</option>
					</select>
				</td>
				<td>
					<a class="btn btn-danger" onclick="deleteRow(this)">
						<span class="fa fa-remove"></span> Delete
					</a>
				</td>
			</tr>
		</tbody>
		<tr>
			<td colspan="2"><i class="fa fa-info"></i> Id is added automatically.</td>
			<td colspan="1">
				<a href="#/lists/new" onclick="cloneRow()" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new field</a>
			</td>
		</tr>
	</table>

	<button class="btn btn-primary pull-right">Create list</button>
</div>

<script type="text/javascript">

	var counter = 1;

	function cloneRow() {
		var row = document.getElementById("field");	
		var table = document.getElementById("table");
		var input = document.getElementById("input");

		var ex_input = input.cloneNode(true);

		input.id = input.id + counter;
		input.value = "";

		var clone_row   = row.cloneNode(true);
		clone_row.id = clone_row.id + counter;
		table.appendChild(clone_row);

		input.id = ex_input.id;
		input.value = ex_input.value;

		counter++;
	}

	function deleteRow(input) {
		var table = document.getElementById("table");
		var row = input.parentNode.parentNode;

		row_id = '#'+row.id;

		table.removeChild(table.querySelector(row_id))
	}

</script>