<h2>
	<i class="fa fa-{{ data.icon }}"></i> {{data.title}}
</h2>

<div ng-show="data.mode == 'grocery'">
	<table class="table table-striped lists">
		<thead>
			<a data-toggle="modal" data-target="#addGrocery" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new item</a>
			<br>
			<tr>
				<th style="width: 65%;">Item</th>
				<th>Quantity</th>
				<th></th>
			</tr>
		</thead>
		<tr ng-repeat='item in data.datas'>
			<td>{{item.item}}</td>
			<td>{{item.quantity}}</td>
			<td>
				<a ng-click="deleteItem(item.id)" class="btn btn-danger btn-sm">
					<span class="fa fa-trash"></span> 
				</a>
			</td>
		</tr>
	</table>


	<div class="modal fade" tabindex="-1" id="addGrocery" role="dialog" >
		<div class="modal-dialog">
			<div class="modal-content">
				<form ng-submit="addItem()">
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-9">
								<label for="item">Item</label>
								<input type="text" placeholder="Item" class="form-control" ng-model="item" required />
							</div>
							<div class="col-xs-3">
								<label for="quantity">Quantity</label>
								<input type="number" placeholder="Number" class="form-control" ng-model="quantity" required />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id="closemodal" class="btn btn-primary">Add item</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div ng-show="data.mode == 'person' ">
	<table class="table table-striped lists">
		<thead>
			<a data-toggle="modal" data-target="#addPerson" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new person</a>
			<br>
			<tr>
				<th style="width:90%;">Person</th>
				<th></th>
			</tr>
		</thead>
		<tr>
			<td>Ahmet</td>
			<td>
				<a ng-click="deleteList(data.id)" class="btn btn-danger btn-sm">
					<span class="fa fa-trash"></span> 
				</a>
			</td>
		</tr>
	</table>

	<div class="modal fade" tabindex="-1" id="addPerson" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form ng-submit="addPerson()">
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<label for="person">Person</label>
								<input type="text" placeholder="Person" class="form-control" ng-model="person" required />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id="closemodal" class="btn btn-primary">Add person</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div ng-show="data.mode == 'bill' ">
	<table class="table table-striped lists">
		<thead>
			<a data-toggle="modal" data-target="#addBill" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new bill</a>
			<br>
			<tr>
				<th style="width: 70%;">Price</th>
				<th style="width: 25%;">Due Date</th>
				<th></th>
			</tr>
		</thead>
		<tr>
			<td>120 TL</td>
			<td>28 February</td>
			<td>
				<a ng-click="deleteList(data.id)" class="btn btn-danger btn-sm">
					<span class="fa fa-trash"></span> 
				</a>
			</td>
		</tr>
	</table>


	<div class="modal fade" tabindex="-1" id="addGrocery" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form ng-submit="addBill()">
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-9">
								<label for="item">Price</label>
								<input type="text" placeholder="Price" class="form-control" ng-model="item" required />
							</div>
							<div class="col-xs-3">
								<label for="quantity">Due Date</label>
								<input type="text" placeholder="Date" class="form-control" ng-model="date" required />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" id="closemodal" class="btn btn-primary">Add item</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script ng-show="data.mode == 'grocery'">
	$('#closemodal').click(function() {
		$('#addGrocery').modal('hide');
	});
</script>


<script ng-show="data.mode == 'person'">
	$('#closemodal').click(function() {
		$('#addPerson').modal('hide');
	});
</script>

<script ng-show="data.mode == 'bill'">
	$('#closemodal').click(function() {
		$('#addBill').modal('hide');
	});
</script>