//colors
$black_30: rgba(0, 0, 0, 0.3);
$color_alto: #dddddd;
$color_mine_shaft: #333;
$white: #fff;
$user_color: #3498DB;
$color_silver: #aaaaaa;
$color_mountain: #999;
$color_tundora: #454545;


a {
  color: $user_color;
  &:hover {
    color: $color_silver;
  }
}


.panel-shadow {
  box-shadow: $black_30 7px 7px 7px;
} 
.panel-white {
  border: 1px solid $color_alto;
  .panel-heading {
    color: $color_mine_shaft;
    background-color: $white;
    border-color: $color_alto;
  }
  .panel-footer {
    background-color: $white;
    border-color: $color_alto;
  }
}
.post {
  .post-heading {
    height: 95px;
    padding: 20px 15px;
    .avatar {
      width: 60px;
      height: 60px;
      display: block;
      margin-right: 15px;
    }
    .meta {
      .title {
        margin-bottom: 0;
        vertical-align: middle;
      }
      .time {
        margin-top: 8px;
        color: $color_mountain;
      }
    }


    @media screen and (min-width: 1200px ) {
      .header {
        padding-left: 0px;
      }
    }

  }
  .post-description {
    padding: 15px;
    padding-top:5px;
    p {
      font-size: 14px;
    }
    .stats {
      margin-top: 20px;
      .stat-item {
        display: inline-block;
        margin-right: 15px;
        .icon {
          margin-right: 8px;
        }
      }
    }
  }
  .post-footer {
    border-top: 1px solid $color_alto;
    padding: 15px;
    .comments-list {
      padding: 0;
      margin-top: 20px;
      list-style-type: none;
      .comment {
        display: block;
        width: 100%;
        margin: 20px 0;
        .avatar {
          width: 35px;
          height: 35px;
        }
        .comment-heading {
          display: block;
          width: 100%;
          .user {
            font-size: 14px;
            font-weight: bold;
            display: inline;
            margin-top: 0;
            margin-right: 10px;
          }
          .time {
            font-size: 12px;
            color: $color_silver;
            margin-top: 0;
            display: inline;
          }
        }
        .comment-body {
          margin-left: 50px;
        }
        > .comments-list {
          margin-left: 50px;
        }
      }
    }
    .input-group-addon a {
      color: $color_tundora;
    }
  }

  .post-image .image {
    width: 100%;
    height: auto;
  }

  .write-post {
    padding-left:30px;
  }

  .comments {

    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $color_alto;
    border-bottom: 1px solid $color_alto;

    .post-heading {
      padding-top: 0px;
      margin-bottom: -20px;
      padding-bottom: 0px !important;
    }

    .meta {
      margin-top:-10px;
      margin-bottom: 10px;
      padding-left: 2%;        
    }

    img {
      height: 40px !important;
      width: 40px !important;
    }


  }

}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}