<div class="row">
	<table class="table table-striped lists">
		<thead>
			<a data-toggle="modal" data-target="#addList" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new list</a>
			<tr>
				<th>Lists</th>
				<th style="width: 10%;" class="text-center"></th>
			</tr>
		</thead>
		<tr ng-repeat='data in datas'>
			<td class="title">
				<i class="fa fa-{{data.icon}}"></i>
				<a href="#/lists/{{ data.slug }}">
					{{ data.title }}
				</a>
			</td>
			<td class="text-center">
				<a ng-click="deleteList(data.id)" class="btn btn-danger btn-sm">
					<span class="fa fa-trash"></span> 
				</a>
			</td>
		</tr>
	</table>
</div>

<div class="modal fade" tabindex="-1" id="addList" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form ng-submit="addList()">
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<label for="title">List title</label>
							<input type="text" ng-model="title" class="form-control" placeholder="List title" required>
						</div>
						<div class="col-xs-3">
							<label for="mode">Type</label>
							<select ng-model="mode" class="form-control" required>
								<option value="">Please Select</option>
								<option value="0">Grocery</option>
								<option value="1">Person</option>
								<option value="2">Bill</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" id="closemodal" class="btn btn-primary">Create list</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$('#closemodal').click(function() {
		$('#addList').modal('hide');
	});
</script>